body {
    font-size: 16px;
}

.row {
    margin: 0;
}

a {
    color: black;
}

a:hover {
    color: black;
}

.a--hover-primary {
    color: var(--primary-color);
}

.header__name-logo:hover {
    color: var(--white-color);
}

.account-page-container {
    padding: 70px 0 50px 0px;
}

.account-sidebar-container {

    /* height: 100%;
    width: 30%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0; */


    
}

.account-detail-container {
    background-color: rgb(240 242 245);



    
}

.icon-setting {
    font-size: 24px;
    width: 40px;
}

.album-img {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.sidebar-item {
    border-radius: 5px;
    padding: 0 10px;
}

.sidebar-item:hover {
    background-color: rgb(240 242 245);
}

.sidebar-item--active {
    background-color: rgb(240 242 245);
}

.btn-add-album {
    height: 36px;
    margin-top: 16px;
    background-color: rgb(231, 243, 255);
    color: rgb(57, 139, 244);
    font-size: 15px;
    border-radius: 5px;
}

.btn-add-album:hover {
    background-color: lightblue;
    color: blue;
}

.account-detail-container {
    padding: 16px 48px;
}

.recipe-item {
    border-radius: 5px;
    padding: 16px;
    background-color: white;
}

.recipe-img {
    width: 144px;
    height: 144px;
    object-fit: cover;
    border-radius: 10px;
}

.btn-add-album-2 {
    height: 36px;
    width: 250px;
    margin-top: 0px;
    background-color: rgb(228, 230, 235);
    color: rgb(27, 19, 5);
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
}

.btn-add-album-2:hover {
    background-color: rgb(211,211,211);
}

.btn-share-album-2 {
    height: 36px;
    width: 50px;
    margin-top: 0px;
    background-color: rgb(228, 230, 235);
    color: rgb(27, 19, 5);
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
}

.btn-share-album-2:hover {
    background-color: rgb(211,211,211);
}

.btn-setting {
    height: 36px;
    width: 38px;
    margin-top: 0px;
    background-color: rgb(228, 230, 235);
    color: rgb(27, 19, 5);
    font-size: 14px;
    font-weight: 600;
    border-radius: 40px;
}

.btn-setting:hover {
    background-color: rgb(211,211,211);
}