/* .grid {
    width: 1200px;
    align-items: center;
} */
/* .container {
    display: flex;
    justify-content: center;
} */

.grid_phi {
    width: 1200px;
    display: flex;
    justify-content: center;
}

.receipt-type-title {
    color: #3a393a;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: 60px;
    font-weight: 900;
}

.receipt-nutshell-list {   
    align-items: center;
    width: 100%;
    /* //background-color: var(--primary-color); */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
}
.col-1-4 {
    width: 290; 
    margin: 0 5px 10px 5px;
}

.receipt-nutshell-item {   
    display: flex;
    list-style: none;
    height: 280px;
    flex-direction: column;
    transition: transform ease-in 0.25s;
}

.receipt-nutshell-item:hover {
    /* transform: scale(1.05); */
    transform: translateY(-10px);
    cursor: pointer;

}

.receipt-nutshell-item .item-img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
    padding-top: 50%;
    border-radius: 5px;
    
}

.receipt-nutshell-item .item-description{
    padding-top: 12px;
    flex: 1;
}

.receipt-nutshell-item .item-heading {
    display: flex;
    justify-content: space-between;
}

.receipt-nutshell-item .item-heading .heading-titles {
    color: #5f5f5f;
    font-size: 18px;
    width: 80%;
    font-weight: 900;
}

.receipt-nutshell-item .item-heading .heading-icon i {
    color: #3c3c3d;
    font-size: 20px;
}

.receipt-nutshell-item .item-heading .heading-icon:hover {
    cursor: pointer;
    opacity: 0.7;
}

.receipt-nutshell-item .item-heading .unmarked-icon {
    display: block;
}

.receipt-nutshell-item .item-heading .marked-icon {
    display: none;
}

/* Xử lý css việc đánh dấu icon */
.receipt-nutshell-item .item-heading .marked .unmarked-icon {
    display: none;
}

.receipt-nutshell-item .item-heading .marked .marked-icon {
    display: block;
}



.receipt-nutshell-item .tag-rating {
    margin-top: 12px;
    display: flex; 
    justify-content: space-between;

}

.receipt-nutshell-item .tag-rating .tag-list{
    list-style: none;

}

.receipt-nutshell-item .tag-list .tag-item {
    font-size: 12px;
    background-color: #ebebeb;
    font-weight: 900;
    min-width: 60px;
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    line-height: 18px;
    margin-right: 8px;
}

.receipt-nutshell-item .tag-list .tag-item a {
    color: #b6b6b4;
    text-decoration: none;
}

.receipt-nutshell-item .tag-list .tag-item:hover {
    background-color: #b6b6b4;
}

.receipt-nutshell-item .tag-list .tag-item:hover a {
    color: #ebebeb;
}

.receipt-nutshell-item .rating {
    display: flex;
    font-size: 12px;
}

.receipt-nutshell-item .rating .rating-star i{
    color: #fdc40c;
}

.receipt-nutshell-item .rating .rating-title {
    margin-left: 8px;
    font-weight: 900;
    color: #7b7a7b;
}

.receipt-nutshell-item .cooking-infor {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.receipt-nutshell-item .cooking-infor .cooking-time {
    display: inline-flex;
    align-items: center;
}

.receipt-nutshell-item .cooking-infor .cooking-time i{
    color: var(--primary-color);
    font-size: 15px;
    margin-right: 8px;
}

.receipt-nutshell-item .cooking-infor .cooking-time span {
    font-size: 13px;
    color: #7b7a7b;
    font-weight: 900;
}

.receipt-nutshell-item .cooking-infor .food-ration {
    display: inline-flex;
}

.receipt-nutshell-item .cooking-infor .food-ration i{
    color: var(--primary-color);
    font-size: 15px;
    margin: 0px 2px;
}

.receipt-nutshell-item .cooking-infor .food-ration .icon-disable {
    color: #7b7a7b;
}

.receipt-nutshell-item .cooking-infor .food-calo {
    display: flex;
    align-items: center;
}

.receipt-nutshell-item .cooking-infor .food-calo i{
    color: var(--primary-color);
    font-size: 15px;
    margin-right: 8px;
}

.receipt-nutshell-item .cooking-infor .food-calo span {
    font-size: 13px;
    color: #7b7a7b;
    font-weight: 900;
}

/* Slider */
.slider{
    position: relative;
    width: 100%;
    max-height: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: linear-gradient(rgba(0,0,0,0.3)), url(/assets/img/anh-bia.jfif);
    /* background-image: linear-gradient(rgba(0,0,0,0.3)), url(../img/anh-bia1.png); */
}

.slider__heading{
    position: absolute;
    color: var(--white-color);
    font-weight: bold;
    font-size: 4rem;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 4px;
}
.slider__title{
    font-size: 2rem;
    font-weight: 400;
    padding-top: 20px;
}

.slider__img{
    /* margin-top: 60px; */
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../img/anh-bia1.png) ;
}

.slider-list{
    width: 135%;
    transform: translateX(-10%);    
    justify-content: center;
}

.slider-item{
    margin-top: 20px;
    font-size: 1.6rem;
    padding: 10px 10px;
    background: var(--white-color);
    color: var(--primary-color);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 2px solid var(--white-color);
}

.slider-item:hover {
    border: 2px solid var(--primary-color)
}

.slider__search{
    margin-top: 20px;
    border-radius: 8px  ;
    background-color: var(--white-color);
    display: inline-block;
    font-size: 2rem;
    padding: 10px 40px;
    width: 130%;
    transform: translateX(-10%);
}

.slider__sreach-for{
    width: 90%;
    border: none;
    background-color: var(--white-color);
    outline: none;
    font-size: 1.6rem;
}

.slider__sreach-icon{
    font-size: 2rem;
    color: var(--primary-color)
}

.slider__sreach-icon:hover {
    cursor: pointer;
}

.receipt-type-header {
    display: flex;
    margin-top: -40px;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.receipt-type-more {
    border: 1px solid #ccc;
    font-size: 16px;
    margin-top: 22px;
    margin-right: -14px;
    padding: 4px 10px; 
    border-radius:  7px;
    color: var(--primary-color)
}

.receipt-type-more:hover {
    cursor: pointer;
    opacity: 0.7;
}

.type-container {
    display: flex;
    width: 100%;
    margin: 0px 60px;
}

.type-div {
    height: 180px;
    background-size: contain;
    object-fit: contain;
    padding: 20px;
    background-repeat: none;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.type-div.active {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.type-div:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.type-img {
    width: 128px;
    height: 72px;
}

.type-img.active {
    width: 100%;  
}

.type-title {
    width: 100%;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}


.receipt-type-title.category-receipt {
    margin-bottom: 10px;
}

.receipt-type-more.newmore {
    height: 28px;
}






.receipt-fake {
    padding: 80px;
    padding-top: 0px;
    margin-top: -20px;
}

.cook__heading.new_one {
    width: 100%;
    color: #3a393a;
    font-size: 3rem;
}




